.home-header {
    height: 100vh;
    position: relative;
    background: url("../images/3U3A0229.jpg") no-repeat center center fixed;
    background-size: cover;
    -o-filter: brightness(70%);
    -ms-filter: brightness(70%);
    -moz-filter: brightness(70%);
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

.home-container {
    width: 100%;
    top: 30%;
    position: absolute;
    text-align: center;
    font-size: 36px;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}

.home-container-logo {
    width: 501px;
    height: 174px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/logo/8a-white.png");
    background-repeat: no-repeat;
}

.button-down {
    left: 0px;
    right: 0px;
    bottom: 5%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: #FFCC00;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.button-down img {
    width: 20px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.menu-logo {
    width: 230px;
    height: 83px;
    margin-top: 55px;
    margin-right: 20px;
    margin-bottom: 55px;
    background-image: url("../images/logo/8a-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}

.menu-iso {
    width: 40px;
    height: 40px;
    margin-top: 78px;
    background-image: url(../images/logo/iso.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    float: left;
}

.home-language {
    margin-top: 55px;
    margin-bottom: 20px;
    float: right;
}

.wrapper-language {
    float: left;
}

.wrapper-language label {
    width: 35px;
    height: 30px;
    background: #000000;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    position: relative;
    padding: 0px !important;
    font-size: 12px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.wrapper-language label a{
    width: 35px;
    height: 30px;
    background: #000000;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    position: relative;
    padding: 0px !important;
    font-size: 12px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.wrapper-language input[type="radio"] {
    display: none;
}

.wrapper-language input[type="radio"]:checked + label:before {
    display: none;
}

.wrapper-language input[type="radio"]:checked + label {
    color: #FFCC00;
    background: #000000;
}

.language-label {
    float: left;
    margin: 0px;
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
    padding-right: 10px;
}

.wrapper-other {
    float: left;
    padding: 5px;
    background: #FFFFFF;
    margin-right: 25px;
}

.other-label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    background: #FFCC00;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    color: #000000 !important;
    text-decoration: none !important;
}

.wrapper-menu-web {
    float: right;
}

nav ul li {
    float: left;
    list-style: none;
    margin-right: 15px;
}

nav ul li a {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 15px;
    color: #000000 !important;
    text-decoration: none !important;
    text-transform: uppercase;
}

.menu-effect-underline {
    position: relative;
    vertical-align: middle;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.menu-effect-underline:before {
    content: "";
    left: 50%;
    right: 50%;
    bottom: -4px;
    height: 4px;
    z-index: -1;
    position: absolute;
    background: #FFCC00;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.menu-effect-underline:hover:before {
    left: 0;
    right: 0;
}

.active {
    text-decoration: none;
    border-bottom: 4px solid #FFCC00;
}

.wrapper-menu-mobile {
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    position: fixed;
    margin: 0 -250px 0 0;
    display: inline-block;
    transition: all 200ms ease-in;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    box-shadow: 0px 0px 10px 1px #D3D3D3;
}

.wrapper-menu-mobile ul {
    margin: 0;
    width: 250px;
    height: 100%;
    list-style: none;
    padding-top: 80px;
    padding-left: 30px;
    background: #FFFFFF;
    overflow: hidden;
}

.wrapper-menu-mobile ul li {
    padding-bottom: 20px;
    float: none !important;
    margin-right: 0px !important;
}

.wrapper-menu-mobile ul li a {
    padding-bottom: 2px !important;
}

.wrapper-menu-mobile .wrapper-other {
    float: none;
    display: flex;
    margin-left: -5px;
    margin-top: 15px;
    margin-bottom: 35px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ nav {
    margin: 0;
}

#home-menu-mobile {
    z-index: 1;
    float: right;
    display: block;
    padding-top: 20px;
    padding-right: 15px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
}

#home-menu-mobile input {
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    width: 33px;
    height: 28px;
    display: block;
    position: absolute;
    cursor: pointer;
}

#home-menu-mobile span {
    z-index: 1;
    width: 33px;
    height: 4px;
    display: block;
    margin-bottom: 5px;
    margin-right: 10px;
    position: relative;
    background: #000000;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#home-menu-mobile span:first-child {
    transform-origin: 0% 0%;
}

#home-menu-mobile span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#home-menu-mobile input:checked ~ span {
    opacity: 1;
    background: #000000;
    transform: rotate(45deg) translate(-2px, -1px);
}

#home-menu-mobile input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#home-menu-mobile input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

.menu-logo-mobile {
    width: 225px;
    height: 81px;
    margin-top: 20px;
    margin-bottom: 55px;
    margin-right: 20px;
    margin-left: 20px;
    background-image: url(../images/logo/8a-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}

.menu-iso-mobile {
    width: 40px;
    height: 40px;
    margin-top: 42px;
    background-image: url(../images/logo/iso.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    float: left;
}

#home-carousel {
    margin-bottom: 80px;
}

.carousel-indicators {
    top: 35px !important;
    margin-left: -47% !important;
}

.carousel-indicators li {
    width: 14px !important;
    height: 14px !important;
    display: list-item !important;
    border-radius: 14px !important;
    margin-bottom: 10px !important;
    border: 2px solid #FFFFFF !important;
}

.carousel-indicators .active {
    width: 16px !important;
    height: 16px !important;
    margin-bottom: 10px !important;
    border-color: #FFCC00 !important;
    background-color: #FFCC00 !important;
}

.wrapper-carousel-title {
    float: left;
    padding-left: 15px;
    border-left: 4px solid #FFFFFF;
}

.wrapper-carousel-title h1 {
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.wrapper-carousel-paragraph {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.wrapper-carousel-paragraph h1 {
    color: #000000;
    text-align: left;
    text-transform: uppercase;
    font-size: 40px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.wrapper-work {
    width: 100%;
    height: auto;
    float: left;
    color: #000000;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.wrapper-work:hover {
    color: #000000;
}

.wrapper-work .mask {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.wrapper-work img {
    transition: all 0.2s linear;
}

.wrapper-work .mask {
    opacity: 0;
    background-color: rgba(255,204,0, 0.7);
    transition: all 0.3s ease-in-out;
}

.wrapper-work h1 {
    opacity: 0;
    font-size: 25px !important;
    margin-top: 75px !important;
    margin-bottom: 0px !important;
    transform: translateX(-200px);
    transition: all 0.7s ease-in-out;
    text-transform: uppercase !important;
}

.wrapper-work h2 {
    opacity: 0;
    font-size: 25px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    transform: translateX(200px);
    transition: all 0.7s ease-in-out;
    text-transform: uppercase !important;
}

.wrapper-work:hover img {
    transform: scale(1.1);
}

.wrapper-work:hover .mask {
    opacity: 1;
}

.wrapper-work:hover h1, .wrapper-work:hover h2 {
    opacity: 1;
    transform: translateX(0px);
}

.wrapper-work:hover h2 {
    transition-delay: 0.1s;
}

.background-works {
    position: absolute;
}

.background-works-img {
    width: 100% !important;
    height: 370px !important;
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.wrapper-works-title {
    float: left;
    margin-top: 50px;
    margin-bottom: 25px;
    padding-left: 15px;
    border-left: 4px solid #FFCC00;
}

.wrapper-works-title h1 {
    color: #FFFFFF;
    font-size: 30px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.wrapper-work-margin-top {
    margin-top: 108px;
}

#home-works {
    padding-bottom: 52px;
}

.background-footer {
    width: 100%;
    height: 209px;
    position: absolute;
    background-color: #FFCC00;
}

.wrapper-footer-logo {
    margin-top: 82px;
}

.footer-logo {
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 20px;
    background-image: url(../images/logo/8a-min.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-logo-title {
    color: #000000;
    font-size: 14px;
    line-height: 45px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.wrapper-footer-contact {
    margin-top: 55px;
    margin-bottom: 55px;
}

.contact-border {
    float: left;
    padding-left: 15px;
    border-left: 4px solid #FFFFFF;
}

.contact-margin-right {
    margin-right: 127px;
}

.contact-title {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
}

.contact-paragraph {
    color: #000000;
    font-size: 13px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.contact-paragraph-margin {
    margin-bottom: 5px !important;
}

.footer-linco-title {
    float: left;
    color: #000000;
    font-size: 14px;
    line-height: 45px;
    padding-left: 95px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.footer-linco {
    width: 45px;
    height: 45px;
    margin-top: 13px;
    background-image: url(../images/logo/linco.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    float: right;
}

.background-aboutus {
    width: 100%;
    height: 150px;
    clear: both;
    position: relative;
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    background-image: url(../images/aboutus.jpg);
}

.background-aboutus-layer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255,255,255, 0.7);
}

.background-aboutus-line {
    width: 100%;
    height: 4px;
    background: #FFCC00;
}

.wrapper-aboutus-title {
    float: left;
    margin-top: -95px;
    padding-left: 15px;
    border-left: 4px solid #FFCC00;
}

.wrapper-aboutus-title h1 {
    color: #000000;
    font-size: 30px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.aboutus-content-margin {
    margin-top: 65px;
    margin-bottom: 65px;
}

.wrapper-aboutus-content {
    padding-left: 15px;
    margin-top: 65px;
    border-left: 4px solid #FFCC00;
}

.wrapper-aboutus-content h1 {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px !important;
    margin-bottom: 25px !important;
}

.aboutus-slogan-title {
    font-size: 40px;
    font-weight: bold;
    color: #D3D3D3;
}

.generic-paragraph-subtitle {
    color: #FFCC00;
    margin-top: -25px;
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 15px !important;
}

.generic-paragraph {
    font-size: 15px !important;
    margin-bottom: 25px !important;
    line-height: 25px !important;
}

.generic-paragraph-0px {
    font-size: 15px !important;
    margin-bottom: 0px !important;
    line-height: 20px !important;
}

.contact-input {
    width: 100%;
    height: 37px;
    outline: none;
    font-size: 15px;
    padding: 3px 0px 3px 10px;
    margin-bottom: 30px;
    border: 1px solid #000000;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.contact-textarea {
    width: 100%;
    height: 175px;
    outline: none;
    font-size: 15px;
    padding: 3px 0px 3px 10px;
    margin-bottom: 30px;
    border: 1px solid #000000;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    resize: none;
}

.contact-input:focus, .contact-textarea:focus {
    box-shadow: 0 0 5px #FFCC00;
    -moz-box-shadow: 0 0 5px #FFCC00;
    -webkit-box-shadow: 0 0 5px #FFCC00;
    border: 1px solid #FFCC00;
}

.ourworks-wrapper-work {
    width: 100%;
    height: auto;
    cursor: default;
    overflow: hidden;
    position: relative;
}

.wrapper-ourworks-content {
    padding-left: 15px;
    margin-top: 35px;
    border-left: 4px solid #FFCC00;
}

.wrapper-ourworks-content h1 {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
}

.wrapper-social-paragraph {
    padding-left: 20px;
    padding-top: 10px;
}

.generic-title-italic {
    font-style: italic;
    font-size: 16px !important;
    margin-bottom: 25px !important;
    line-height: 25px !important;
}

.social-wrapper-main {
    float: left;
    margin-top: 125px;
    margin-bottom: 65px;
}

.margin-bottom-30px {
    margin-bottom: 30px;
}

.video {
    position: relative;
    overflow: hidden;
    margin-top: 45px;
    margin-bottom: 45px;
    padding-bottom: 56.25%;
}

.video iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    padding-left: 20px;
}

#wrapper-social-mobile {
    display: none;
}

.item:after {
    top:0;
    left:0;
    width:100%;
    height:100%;
    content: '';
    position: absolute;
    display: inline-block;
    background: linear-gradient(45deg, #FFCC00 10%, rgba(255,204,0,0), rgba(0,0,0,0) 100%);
}

.generic-link-span {
    color: #000000;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
}

.generic-link-span span {
    color: #FFCC00;
    padding-left: 5px;
}

.generic-link-span-active {
    color: #FFCC00;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
}

.generic-link-span:hover {
    color: #FFCC00;
    text-decoration: none;
}

.generic-link-span-active:hover {
    color: #FFCC00;
    text-decoration: none;
}

.generic-title-18px {
    font-size: 18px !important;
    font-weight: bold;
    margin-top: 0px !important;
    margin-bottom: 25px !important;
}

.generic-link {
    color: #D3D3D3;
    font-size: 16px !important;
    font-weight: bold;
}

.generic-link:hover {
    color: #D3D3D3;
}

.generic-link-underline {
    float: right;
    color: #D3D3D3;
    font-size: 16px !important;
    font-weight: bold;
    text-decoration: underline;
}

.generic-link-underline:hover {
    color: #D3D3D3;
}

.generic-button {
    width: 200px;
    height: 52px;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #FFCC00;
    border: none;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    border: 2px solid #FFCC00;
}

.generic-button:hover {
    color: #000000;
    background-color: #FFFFFF;
    border: 2px solid #FFCC00;
}

.generic-margin-top-65px {
    margin-top: 65px;
}

.generic-margin-bottom-30px {
    margin-bottom: 30px;
}

.generic-margin-bottom-65px {
    margin-bottom: 65px;
}

.generic-margin-right-0px {
    margin-right: 0px !important;
}

.radio {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

@media (max-width: 360px) {
    .contact-margin-right {
        margin-right: 0px !important;
    }
}

@media (max-width: 767px) {
    .contact-margin-bottom {
        margin-bottom: 30px;
    }

    .wrapper-aboutus-title {
        margin-top: -65px;
    }

    .wrapper-aboutus-title h1 {
        font-size: 22px;
    }

    .background-aboutus {
        height: 100px;
    }

    #aboutus-slogan {
        display: none;
    }

    #ourworks-slogan {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .carousel-caption {
        left: 0% !important;
        margin-left: 50px !important;
    }
}

@media (max-width: 991px) {
    #home-header {
        display: none;
    }

    #home-menu-web {
        display: none;
    }

    #home-menu-mobile {
        display: block !important;
    }

    .menu-logo-mobile {
        display: block !important;
    }

    .menu-iso-mobile {
        display: block !important;
    }

    #home-carousel {
        width: 100% !important;
    }

    .mobile-padding-0px {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .social-wrapper-main {
        margin-top: 20px !important;
    }

    .wrapper-social-paragraph {
        padding-left: 0px !important;
    }

    .video iframe {
        padding-left: 0px !important;
    }
}

@media screen and (min-width: 612px) and (max-width: 695px) {
    .wrapper-carousel-paragraph h1 {
        font-size: 35px !important;
    }
}

@media screen and (min-width: 580px) and (max-width: 611px) {
    .wrapper-carousel-paragraph h1 {
        font-size: 33px !important;
    }
}

@media screen and (min-width: 500px) and (max-width: 579px) {
    .wrapper-carousel-paragraph h1 {
        font-size: 29px !important;
    }
}

@media screen and (min-width: 451px) and (max-width: 499px) {
    .wrapper-carousel-paragraph h1 {
        font-size: 20px !important;
    }
}

@media screen and (min-width: 451px) and (max-width: 767px) {
    .carousel-caption {
        left: 0% !important;
        margin-left: 15px !important;
    }
}

@media (max-width: 399px) {
    .menu-iso-mobile {
        display: none !important;
    }
}

@media (max-width: 345px) {
    .menu-logo-mobile {
        width: 150px;
        margin-bottom: 0px !important;
    }
}

@media screen and (min-width: 346px) and (max-width: 399px) {
    .menu-logo-mobile {
        width: 200px;
    }
}

@media (max-width: 450px) {
    .wrapper-carousel-title h1 {
        font-size: 15px;
    }

    .wrapper-carousel-paragraph h1 {
        font-size: 18px !important;
    }

    .carousel-caption {
        left: 0% !important;
        bottom: 14px !important;
        margin-left: 45px !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .wrapper-work {
        height: 171px;
    }

    .wrapper-work h1 {
        font-size: 22px !important;
        margin-top: 63.5px !important;
    }

    .wrapper-work h2 {
        font-size: 22px !important;
    }

    .wrapper-works-title h1 {
        font-size: 29.7px;
    }

    .background-works-img {
        height: 330px !important;
    }

    #home-works {
        padding-bottom: 51px;
    }

    #home-footer .wrapper-footer-contact {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .contact-margin-right {
        margin-right: 57px !important;
    }

    .generic-padding-0px {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .footer-linco-title {
        padding-left: 75px;
    }

    .aboutus-slogan-title {
        font-size: 34px;
    }
}

@media screen and (max-width: 991px) {
    #home-carousel {
        margin-bottom: 0px;
        display: inline-flex;
    }

    .background-works {
        display: none;
    }

    #home-works {
        background: #808080;
        width: 100% !important;
    }

    .wrapper-work:hover img {
        transform: none;
    }

    .wrapper-work .mask {
        display: none;
    }

    .wrapper-work-margin-top {
        margin-top: 25px;
    }

    #home-works {
        padding-bottom: 35px;
    }

    .wrapper-works-title h1 {
        font-size: 18px;
    }

    #home-footer {
        width: 100% !important;
        height: auto !important;
        background: #FFCC00 !important;
    }

    .wrapper-footer-logo {
        margin-top: 45px;
    }

    .footer-linco-title {
        float: left;
        padding-right: 20px;
        padding-left: 0px !important;
    }

    .footer-linco {
        float: left;
        margin-bottom: 45px;
    }

    #wrapper-social-web {
        display: none;
    }

    #wrapper-social-mobile {
        display: block;
        margin-top: 35px;
    }
}
